.App {
  text-align: left;
  background-color: #323a53;
  color:black;
}

.wrapper{
  padding: 35px;
  background-color: #323a53;
}

.wrapper fieldset {
  margin: 30px;
  font-size: 25px;
  background-color: #467486;
  padding: 10px;
}

.title {
  font-size: 35px;
  padding: 10px;
}

.App-header {
  
  margin-left: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
  
}

.commentBox{

  width: 900px;
  height: 95px;
}