.App {
  text-align: left;
  color:black;
}

.wrapper{
  padding: 35px;
  background-color: #bdd5dabe;
}

.wrapper fieldset {
  margin: 30px;
  font-size: 25px;
  background-color: #eff4f7fd;
  padding: 10px;
  
  border-radius: 20px;
  
}

#classes

.title {
  font-size: 35px;
  padding: 10px;
}

.App-header {
  
  margin-left: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
  
}

.commentBox{

  width: 900px;
  height: 95px;
}

.loginHeader{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
}

p{
  font-weight: bold;
}


.center {
  line-height: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  text-align: center;
}
