.App {
  text-align: left;
  background-color: #435796;
  color:black;
}

.wrapper{
  padding: 35px;
  background-color: #2ea7bd;
}

.wrapper fieldset {
  margin: 30px;
  font-size: 25px;
  background-color: #4b96b4;
  padding: 10px;
  border-radius: 20px;

}

#classes

.title {
  font-size: 35px;
  padding: 10px;
}

.App-header {
  
  margin-left: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
  
}

.commentBox{

  width: 900px;
  height: 95px;
}

.loginHeader{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  
}

p{
  font-weight: bold;
}

